@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "styles/variaveis";
@import "styles/breakpoints";

@mixin pokemon($tipo, $tipoBall) {
  @apply flex flex-col items-center bg-top bg-no-repeat w-96 mt-4 rounded-xl drop-shadow-[0_0_37px_rgba(0,0,0,0.65)];
  background-color: $tipo;
  background-image: $tipoBall;
  .titulo {
    @apply flex justify-between flex-row w-5/6 h-16 mt-4;
    color: $white;
  }
  .imagem {
    @apply z-50 w-52 h-52;
  }
  .container {
    @apply -mt-8 flex items-center flex-col p-4 w-full;
    background-color: $white-ice;
    border: solid;
  }
  &__sobre {
    @apply flex flex-col items-center text-center;
    &__titulo {
      color: $tipo;
      @apply text-xl;
    }
  }
  &__status {
    @apply flex flex-col items-center w-11/12;
    color: $tipo;
    &__titulo {
      @apply text-xl text-center mt-2 mb-2;
    }
  }
}


.normal {
  @include pokemon($normal, $ballNormal);
}
.fighting {
  @include pokemon($fighting, $ballFighting);
}
.flying {
  @include pokemon($flying, $ballFlying);
  
}
.poison {
  @include pokemon($poison, $ballPoison);
  
}
.ground {
  @include pokemon($ground, $ballGround);
}
.rock {
  @include pokemon($rock, $ballRock);
} 
.bug {
  @include pokemon($bug, $ballBug);
} 
.ghost {
  @include pokemon($ghost, $ballGhost);
  }
.steel {
  @include pokemon($steel, $ballSteel);
  }
.fire {
  @include pokemon($fire, $ballFire);
} 
.water {
  @include pokemon($water, $ballWater);
  }
.grass {
  @include pokemon($grass, $ballGrass);
  }
.electric {
  @include pokemon($electric, $ballElectric);
  
}
.psychic {
  @include pokemon($psychic, $ballPsychic);
  
}
.ice {
  @include pokemon($ice, $ballIce);
}
.dragon {
  @include pokemon($dragon, $ballDragon);
  
}
.dark {
  @include pokemon($dark, $ballDark);
}
.fairy {
  @include pokemon($fairy, $ballFairy);
  }
.unknown {
  @include pokemon($unknown, $ballUnknown);
  
}
.shadow {
  @include pokemon($shadow, $ballShadow);
  
}

@mixin tipoPokemon($tipo1) {
  @apply text-center text-white rounded-xl w-36;
  background-color: $tipo1;
}

.tipo__normal {
  @include tipoPokemon($normal);
}
.tipo__fighting {
  @include tipoPokemon($fighting);
}
.tipo__flying {
  @include tipoPokemon($flying);
}
.tipo__poison {
  @include tipoPokemon($poison);
}
.tipo__ground {
  @include tipoPokemon($ground);
}
.tipo__rock {
  @include tipoPokemon($rock);
}
.tipo__bug {
  @include tipoPokemon($bug);
}
.tipo__ghost {
  @include tipoPokemon($ghost);
}
.tipo__steel {
  @include tipoPokemon($steel);
}
.tipo__fire {
  @include tipoPokemon($fire);
}
.tipo__water {
  @include tipoPokemon($water);
}
.tipo__grass {
  @include tipoPokemon($grass);
}
.tipo__electric {
  @include tipoPokemon($electric);
}
.tipo__psychic {
  @include tipoPokemon($psychic);
}
.tipo__ice {
  @include tipoPokemon($ice);
}
.tipo__dragon {
  @include tipoPokemon($dragon);
}
.tipo__dark {
  @include tipoPokemon($dark);
}
.tipo__fairy {
  @include tipoPokemon($fairy);
}

.tipo__unknown {
  @include tipoPokemon($unknown);
}
.tipo__shadow {
  @include tipoPokemon($shadow);
}

.pokebola {
  @apply w-56 h-56;
}

.sobre {
  @apply flex flex-col items-center text-center;
  &__titulo {
    @apply text-xl;
  }
}

.pesoAltura__container {
  @apply flex flex-row items-center justify-between w-24 h-9;
  &__icon {
    @apply w-14 h-7;
  }
}

.peso_altura {
  @apply flex justify-between items-center w-80;
  &__titulo {
    @apply text-xs m-2;
  }
}

.peso {
  @apply flex flex-col items-center;
}

.altura {
  @apply flex flex-col items-center;
}

.habilidades {
  @apply flex flex-col items-center justify-between h-16;
}

.status {
  @apply flex flex-col items-center w-11/12;
  &__titulo {
    @apply text-xs;
  }
}
.graficos {
  @apply flex flex-col items-center w-8;
}

.status__dados {
  @apply w-full flex justify-around;
}

.id {
  @apply w-1/12;
}

.tipos {
  @apply flex items-center justify-evenly w-9/12;
  &__column {
    display: flex;
    @apply flex items-center;
  }
}
