$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$darkest-grey: #505050;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #721010;
$white-ice: #f0f0f0;
$white-ice2: #fff2e4;
$white: #ffffff;
$pink: #FF3D71;

//cores

$normal:#aaa67f;
$fighting:#c12239;
$flying:#a891ec;
$poison:#a43e9e;
$ground:#dec16b;
$rock:#b69e31;
$bug:#a7b723;
$ghost:#70559b;
$steel:#b7b9d0;
$fire:#f57d31;
$water:#6493eb;
$grass:#74cb48;
$electric:#f9cf30;
$psychic:#fb5584;
$ice:#9ad6df;
$dragon:#7037ff;
$dark:#75574c;
$fairy:#e69eac;
$unknown:#505050;
$shadow:#505050;

//bolas

$ballNormal: url("/imgs/ball/normalBall.svg");
$ballFighting: url("/imgs/ball/fightingBall.svg");
$ballFlying: url("/imgs/ball/flyingBall.svg");
$ballPoison: url("/imgs/ball/poisonBall.svg");
$ballGround: url("/imgs/ball/groundBall.svg");
$ballRock: url("/imgs/ball/rockBall.svg");
$ballBug: url("/imgs/ball/bugBall.svg");
$ballGhost: url("/imgs/ball/ghostBall.svg");
$ballSteel: url("/imgs/ball/steelBall.svg");
$ballFire: url("/imgs/ball/fireBall.svg");
$ballWater: url("/imgs/ball/waterBall.svg");
$ballGrass: url("/imgs/ball/grassBall.svg");
$ballElectric: url("/imgs/ball/electricBall.svg");
$ballPsychic: url("/imgs/ball/psychicBall.svg");
$ballIce: url("/imgs/ball/iceBall.svg");
$ballDragon: url("/imgs/ball/dragonBall.svg");
$ballDark: url("/imgs/ball/darkBall.svg");
$ballFairy: url("/imgs/ball/fairyBall.svg");
$ballUnknown: url("/imgs/ball/unknownBall.svg");
$ballShadow: url("/imgs/ball/shadowBall.svg");