@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em;
}
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
