@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import 'styles/variaveis';
@import "styles/breakpoints";


.itens{
  align-items: center;
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop_xsm) {
    width: 90%;
  }
  @media (min-width: $desktop_md) {
    width: 900px;
  }
}

.botoes{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 1em 0em;
  .seta{
    @apply animate-waving-hand h-6;
  }
  @media (min-width: $desktop_xsm) {
    width: 90%;
  }
  @media (min-width: $desktop_md) {
    width: 900px;
  }
  &__tipo{
    color: $white-ice;
    text-align: center;
    margin: 1em;
    margin-bottom: 0;
    background-color: $pink;
    width: 59px;
    height: 44px;
    border: 4px solid $pink;
    border-radius: 1000px;
    &:hover {background-color: #DB2C66}
    &:active {
      background-color: #DB2C66;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    &__up{
      @apply animate-bounce;
      color: $white-ice;
      text-align: center;
      margin: 1em;
      margin-bottom: 0;
      background-color: $pink;
      width: 59px;
      height: 44px;
      border: 4px solid $pink;
      border-radius: 1000px;
      &:hover {background-color: #DB2C66}
      &:active {
        background-color: #DB2C66;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    }
  }
  &__titulo{
    background-image: url("../../imgs/pokedex/pokedex.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 90px;
  }
}