@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import 'styles/variaveis';
@import "styles/breakpoints";


.itens{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.botoes{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  &__tipo{
    color: $white-ice;
    text-align: center;
    margin: 1em;
    margin-bottom: 0;
    background-color: $pink;
    width: 90px;
    height: 44px;
    border: 4px solid #DB2C66;
    border-radius: 1000px;
  }
  &__titulo{
    background-color: $pink;
    background-image: url("../../imgs/pokeballDex.svg");
    background-repeat: no-repeat;
    background-position: center left 5%;
    border: 4px solid #DB2C66;
    border-radius: 50px;
    &__texto{
      text-align: center;
      color: $white-ice;
      padding: 0 0 0 0.7em;
      font-size: 1.5em;
    }
  }
}